.slick-track {
  overflow: hidden;
  cursor: pointer;
}

.slider__adjust {
  transition: all 0.5s ease;
}

.slider__adjust:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
